:root {
    --yellow: #fcebb6;
    --choc: #d2b48c;
    --lightyellow : #fef6c2;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    color: #221811;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    background-image: url(../images/background.gif);
}

header {
    background-color: var(--choc);
    height: 150px;
    background-image: url(../images/javajamlogo.jpg);
    background-repeat: no-repeat;
    display: block;
}

#wrapper {
    background-color: var(--lightyellow);
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    min-width: 900px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #666;
}

nav {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    display: block;
    width: 200px;
    float: left;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

main {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    display: block;
    background-color: var(--lightyellow);
    margin-left: 200px;
    padding: 0 0 2em 0; /*trbl*/
}

footer {
    background-color: var(--choc);
    font-size: small;
    font-style: italic;
    border-top: 2px;
    border-color: #221811;
    border-style: solid;
    display: block;
}

h1 {
    padding-top: 45px;
    padding-left: 220px;
    font-size: 3em;
}

h4 {
    background-color: var(--choc);
    font-size: 1.2em;
    padding-left: 10px;
    padding-bottom: 5px;
}

img {
    padding-left: 10px;
    padding-right: 10px;
}

.details {
    padding-left: 20%;
    padding-right: 20%;
}

